@use './util' as u;

.extensions-list {
  &__heading {
    margin-bottom: u.rem(20);
    font-size: u.rem(34);
    font-weight: 700;
    text-align: center;
    letter-spacing: u.rem(-1);
    line-height: 1.2;
    color: var(--clr-primary);
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 382px);
    justify-content: center;
    gap: 12px;
    width: 100%;
  }
}

.filters-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: u.rem(32);

  &__button {
    padding: 8.5px 18.5px;
    background: var(--bg-filter-button);
    border: 1px solid var(--clr-filter-button-border);
    border-radius: 1000px;
    font-size: u.rem(20);
    color: var(--clr-primary);
    transition-property: background, border, color;
    transition-duration: 100ms;
    transition-timing-function: linear;

    &:hover,
    &:focus-visible {
      background: var(--bg-filter-button-hover);
      border: 1px solid var(--clr-filter-button-border-hover);
      color: var(--clr-filter-button-hover);
    }

    &--active {
      cursor: default;
      background: var(--clr-accent);
      border: 1px solid var(--clr-accent);
      color: var(--clr-tertiary);

      &:hover,
      &:focus-visible {
        background: var(--clr-accent);
        border: 1px solid var(--clr-accent);
        color: var(--clr-tertiary);
      }
    }
  }
}

@media screen and (min-width: 1202px) {
  .extensions-list {
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: u.rem(32);
    }

    &__heading {
      margin-bottom: 0;
    }
  }

  .filters-container {
    margin-bottom: 0;
  }
}
