@use './util' as u;

.extension {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 382px;
  min-height: 200px;
  padding: 19px;
  background: var(--bg-primary);
  border: 1px solid var(--clr-extension-border);
  border-radius: 20px;

  &__container {
    display: flex;
    align-items: start;
    gap: 16px;
    margin-bottom: u.rem(20);
  }

  &__logo {
    width: 60px;
    height: 60px;
  }

  &__name {
    margin-bottom: u.rem(6);
    font-size: u.rem(20);
    font-weight: 500;
    line-height: 1.3;
    color: var(--clr-primary);
  }

  &__description {
    line-height: 1.4;
    color: var(--clr-secondary);
  }

  &__buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__remove-button {
    padding: 10px 15px;
    background: transparent;
    border: 1px solid var(--clr-remove-button-border);
    border-radius: 1000px;
    font-size: u.rem(16);
    line-height: 1;
    color: var(--clr-primary);
    transition-property: background, border, color;
    transition-duration: 100ms;
    transition-timing-function: linear;

    &:hover {
      background: var(--clr-accent);
      border: 1px solid var(--clr-accent);
      color: var(--clr-tertiary);
    }

    &:focus-visible {
      background: var(--bg-remove-button-hover);
      border: 1px solid var(--bg-remove-button-hover);
    }
  }

  &__toggle-button {
    display: flex;
    align-items: center;
    position: relative;
    width: 36px;
    height: 20px;
    padding-inline: 0;
    background: var(--clr-accent);
    border: 0;
    border-radius: 1000px;
    transition: background 100ms ease-out;

    &--inactive {
      background: var(--bg-toggle-button-inactive);
    }
  }

  &__toggle-indicator {
    position: absolute;
    right: 2px;
    width: 16px;
    height: 16px;
    background: var(--bg-toggle-button-indicator);
    border-radius: 50%;
    transition: right 100ms ease-out;

    &--inactive {
      right: 18px;
    }
  }
}
